<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create-user">Create User</a>
    </div>

    <div class="table-container">
      <h2>List user</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Actions</th>
        </tr>
        <% listUsers.forEach(function(user){ %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.city %></td>
          <td>
            <a href="/update-user/<%= user.id %>">Edit</a>
            <br />
            <a href="/delete-user/<%= user.id %>">Delete</a>
          </td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
